.background {
  background-color: #ffebb7;
  color: black;
}

.welcome {
  padding-left: 200px;
}

.container9 {
  display: flex;
  justify-content:flex-start;
  margin-top: 75px; 
  margin-left: 200px;
}

#container-quote {
  display: flex;
  justify-content:flex-start;
  margin-top: px; 
  margin-left: 200px;
}

.header {
  display: flex;
  justify-content:space-around;
}

.container-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content:space-around;
  margin-top: .5em;
}

.container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content:space-around;
}

.divider {
  width: 50%;
  background-color: #ff6e31;
}

.profile-pic {
  border-style: solid;
  border-radius: 25px;
  border-color: #243763;
  width: 200px;
  max-width: 500px;
  min-width: 250px;
  margin: 10px;
}

.profile-info-2 {
  
  color: #242463;
  border-color:#243763;
  font-style: italic;
  font-family: arial;
  font-weight: bold;
  border-style: solid;
  border-radius: 5px;
  background-color:#eee;
  width: auto;
  margin: 10px;
  padding: 10px;
  min-height: 20px;
}
.profile-info-1 {
  background-color:#ffebb7;
  border-color:#ffebb7;
  border-style: solid;
  font-style:normal;
  font-family: arial;
  font-weight:100;
  width: auto;
  margin: 0px;
  padding: 0px;
  min-height: 20px;
}

.align-right {
  text-align: right;
}

.profile-me {
  padding-left: 10%;
  color: black;
  font-weight: bold;
  font-family: san serif;
  font-style: italic;
  width: 50%;
  
}
.profile-pic:hover {
  transition: all .25s;
  rotate: 10deg;
}
blockquote:hover {
  font-weight: bold;
}

.bottom-p {
  margin-bottom: 150px;
}

.jimmy {
  margin-bottom: 50;
}

.new-footer {
  background-color: #243763;
  color: lightgrey;
}
.footer-link {
  color: lightgrey;
  padding-left: .5em;
  padding-right: .5em;
  text-decoration: none;
}

.footer-link:hover {
  color: white;
}

blockquote {
  width: 40%;
  min-height: 5em;
  padding: 1em 4em;
  font: 1em/150% sans-serif;
  position: relative;
  background-color: #eee;
}

blockquote::before,
blockquote::after {
  position: absolute;
  height: 3rem;
  font: 6rem/100% Georgia, "Times New Roman", Times, serif;
}

blockquote::before {
  content: "“";
  top: 0.3rem;
  left: 0.9rem;
}

blockquote::after {
  content: "”";
  bottom: 0.3rem;
  right: 0.8rem;
}



blockquote i {
  display: block;
  font-size: 0.8em;
  margin-top: 1rem;
  text-align: right;
}
